
.featured-game { background-color: var(--cultured-2); }

.featured-game .section-title {
  color: var(--xiketic);
  margin-block-end: 90px;
}

.featured-game .has-scrollbar { gap: 0; }

.featured-game-card { position: relative; }

.featured-game-card :is(.card-content, .card-content-overlay) { position: absolute; }

.featured-game-card .card-content {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 35px;
  transition: var(--transition);
}

.featured-game-card .card-content-overlay {
  inset: 0;
  background-color: var(--marigold_75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: var(--transition);
}

.featured-game-card .card-title { margin-block-end: 5px; }

.featured-game-card .card-meta {
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}

.featured-game-card .card-content .card-meta { color: var(--platinum); }

.featured-game-card .card-content ion-icon {
  color: var(--marigold);
  font-size: 14px;
}

.featured-game-card .card-icon { margin-block-end: 20px; }

.featured-game-card .card-content-overlay .card-title { color: var(--xiketic); }

.featured-game-card .card-content-overlay .span { color: var(--white); }

.featured-game-card:is(:hover, :focus-within) .card-content { opacity: 0; }

.featured-game-card:is(:hover, :focus-within) .card-content-overlay { opacity: 1; }

