
.section-wrapper {
    position: relative;
    background-color: var(--white);
    z-index: 1;
  }
  
  .section-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-image: url("/images/section-wrapper-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .latest-game .section-title { margin-block-end: 80px; }
  
  .latest-game .has-scrollbar {
    margin-inline: -15px;
    padding-inline: 15px;
    scroll-padding-inline-start: 15px;
  }
  
  .latest-game-card {
    position: relative;
    box-shadow: var(--shadow-2);
  }
  
  .latest-game-card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--xiketic_90);
    padding: 35px 25px;
  }
  
  .latest-game-card .card-badge {
    position: absolute;
    bottom: 100%;
    left: 25px;
  }
  
  .latest-game-card .card-title {
    margin-block-end: 12px;
    transition: var(--transition);
  }
  
  .latest-game-card .card-title:is(:hover, :focus) { color: var(--marigold); }
  
  .latest-game-card .card-price {
    color: var(--silver);
    font-size: var(--fs-10);
    font-weight: var(--fw-600);
  }
  
  .latest-game-card .card-price .span { margin-inline-start: 5px; }
  
  .live-match {
    padding-block-start: 0;
    overflow-x: hidden;
}

.live-match .section-title {
    margin-block-end: 90px;
}

.live-match-banner {
    position: relative;
    background-color: var(--light-gray-1);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--shadow-3);
}

.live-match-banner .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--marigold);
    font-size: 60px;
}

.live-match-player {
    position: relative;
    padding-block-start: var(--section-padding);
}

.live-match-player::after {
    content: "LIVE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 15rem;
    font-weight: var(--fw-600);
    color: var(--cultured-2);
    z-index: -1;
}

.live-match-player .player {
    max-width: max-content;
}

.live-match-player .player-2 {
    margin-inline-start: auto;
}

.live-match-detail {
    margin-block: 50px !important;
}

.live-match-subtitle {
    background-color: var(--marigold);
    color: var(--white);
    font-size: var(--fs-9);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    letter-spacing: 2px;
    padding: 4px 20px;
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 30px;
}

.live-match-time {
    color: var(--xiketic);
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
    max-width: max-content;
    margin-inline: auto;
    line-height: 1;
}